.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 40px;
}

.delay {
  width: 100%;
  margin-top: 8px;
  padding: 8px 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  letter-spacing: 0.04em;
}

.delay:focus {
  border-color: #4e75ff;
}

.delay:hover,
.delay:active {
  border-color: #000;
}

.radioset {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  padding: 16px 28px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.radioset:hover,
.radioset:active {
  border-color: #000;
}

.radioset-legend {
  letter-spacing: 0.04em;
  padding: 0 4px 4px 4px;
}

.radio-btn {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  padding-left: 33px;
}

.radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #808080;
  background-color: #fff;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.radio-label:hover::before {
  border-color: #000;
}

.radio-label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4e75ff;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.radio-label:has(.radio-btn:checked)::before {
  border-color: #4e75ff;
}

.radio-label:has(.radio-btn:checked)::after {
  opacity: 1;
}

.submit-btn {
  margin-top: 24px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  background: #4e75ff;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background: #6c8cff;
}
